.todo_card {
  position: relative;
  list-style: none;
  display: block;
  border-radius: 8px;
  border: 1px solid #eee;
  padding: 18px 16px;
  & + & {
    margin-top: 12px;
  }
  .todo_title {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
  }
  .todo_desc {
    margin-top: 8px;
    font-size: 14px;
    color: #777;
  }
  .todo_check {
    position: absolute;
    top: 18px;
    right: 16px;
  }
}
